@import url(https://fonts.googleapis.com/css?family=Domine);
body {
    color: #000;
}

a {
    color: black;
}

.body-sun {
    background-image: url('../images/bg_sun.jpg');
    background-repeat: no-repeat;
}

.body-rain {
    background-image: url('../images/bg_rain.jpg');
    background-repeat: no-repeat;
}

.body-cloud {
    background-image: url('../images/bg_cloud.jpg');
    background-repeat: no-repeat;
}

.body-snow {
    background-image: url('../images/bg_snow.jpg');
    background-repeat: no-repeat;
}

header {    
    text-align: center;
}

h1 {
    margin-right: auto;
    margin-left: auto;    
    color: rgb(0,0,0);
    
    font-family: 'Domine', serif;
    background-color: rgba(255, 255, 255, .1);
}

.meteo-div {
    margin-top: 5em;    
    background-color: rgba(255, 255, 255, .1);
    border-style: outset;
    border-width: .1em;
    border-color: black;
    padding-top: 3em;
    border-radius: 5px;
    min-height: 200px;
}

.meteo-div--city {

}

.DetailZone-temp{
  min-height: 100px;
}

#DetailZone-temp--temp{
    font-size: 4em;
}

.img-weather {
    display: none;
}

.weather-descp{
    font-size: 0.5em;
}


footer {    
    color: rgba(124, 130, 135, .5);
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

@media screen and (min-width: 990px){
    #DetailZone-Sky{
        border-left: solid;
        border-right: solid;
        border-width: .1em;
        border-color: white;
    }

    footer {
        position: absolute;    
    }
}

@media screen and (max-width: 989px){
    #DetailZone-Sky{
        border-top: solid;
        border-bottom: solid;        
        padding-top: 1.5rem;
        padding-bottom:0.5rem;
        margin-bottom: 1.5rem;
        border-width: .1em;
        border-color: white;
    }
}