@import url(https://fonts.googleapis.com/css?family=Domine);
body {
    color: #000;
}

.body-sun {
    background-image: url('../images/bg_sun.jpg');
    background-repeat: no-repeat;
}

.body-rain {
    background-image: url('../images/bg_rain.jpg');
    background-repeat: no-repeat;
}

.body-cloud {
    background-image: url('../images/bg_cloud.jpg');
    background-repeat: no-repeat;
}

.body-snow {
    background-image: url('../images/bg_snow.jpeg');
    background-repeat: no-repeat;
}

header {
    /*background-color: #a4acac;*/
    text-align: center;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    color: rgb(51, 47, 37);
    font-family: 'Domine', serif;
}

.meteo-div {
    margin-top: 5em;
    /*background-color: black;*/
    /*opacity: 0.1;*/
    background-color: rgba(0, 0, 0, .1);
    border-style: outset;
    border-width: 0.1em;
    border-color: black;
    padding-top: 3em;
    border-radius: 5px;
    min-height: 200px;
}

.meteo-div--city {
    /*margin-top: 100px;*/
}


/*.TempZone {
    display: flex;
}*/


/*
#iconWeat {
    width: 64px;
    height: 64px;
    margin-right: 7px;
}

.ChangeUnit {
    color: #FFF;
    font-size: 1.3rem;
}

.DetailZone {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}*/
.DetailZone-temp{
  min-height: 100px;
}

.img-weather {
    display: none;
}

#img-snow {
    display: block;
}

footer {
    position: absolute;
    /*color: #0a0909;*/
    color: rgba(124, 130, 135, .5);
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
