@import url(https://fonts.googleapis.com/css?family=Domine);

:root {
    --main-bg-color: rgba(228, 224, 224, 0.5);
    --main-txt-color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: var(--main-txt-color);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 15px;
    border-radius: .9em;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.part-3 {
    width: 30%;
    display: inline-block;
}

.text-center {
    text-align: center;
}


/*
*   Set template for background changes
*/

.body-sun {
    background-image: url('../assets/images/bg_sun.jpg');
    background-repeat: no-repeat;
}

.body-rain {
    background-image: url('../assets/images/bg_rain.jpg');
    background-repeat: no-repeat;
}

.body-cloud {
    background-image: url('../assets/images/bg_cloud.jpg');
    background-repeat: no-repeat;
}

.body-snow {
    background-image: url('../assets/images/bg_snow.jpg');
    background-repeat: no-repeat;
}

.body-night {
    background-image: url('../assets/images/bg_night.jpg');
    background-repeat: no-repeat;
}


/* End  of background part */

.main {
    height: 100%;
    overflow: hidden;
}

a {
    color: black;
}

h1 {
    margin: 0;
    color: var(--main-txt-color);
    font-family: 'Domine', serif;
    padding: 0;
}

.meteo-container {
    margin-top: 5em;

    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    /* height: 26vh; */

    align-content: space-between;
    justify-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    background-color: var(--main-bg-color);
    padding-top: .1em;
    padding-bottom: 0.1em;
    border-radius: 1.9em;
    /* margin: 5px; */
    /* width: 90%; */
}

.btn {
    background-color: rgb(137, 136, 138);
}

.hide {
    display: none;
}

.weather-descp {
    font-size: 0.5em;
}

.DetailZone-Time--hour {
    font-size: 1.2em;
}

.DetailZone-Time--date {
    font-size: 0.7em;
}

#DetailZone-Wind--direction {
    background-image: url('../assets/images/compass.png');
    background-size: 120px;
    display: inline-block;
}


/* Footer*/

footer {
    color: rgba(124, 130, 135, .5);
    background-color: rgba(0, 0, 0, .7);
    padding-bottom: 1px;
    padding-top: 1px;
    color: #FFF;
    font-size: 1em;
    font-weight: 800;
    border-radius: 1.3em;
    width: 90%;
    margin: 50px auto;
}

footer p {
    width: 100%;
}


/*
    Mediaqueries parts
*/

/*@media screen and (min-width: 990px) {*/
/*    #DetailZone-Time {*/
/*        border-left: solid;*/
/*        border-right: solid;*/
/*        border-width: .1em;*/
/*        border-color: black;*/
/*        font-size: 2.5em;*/
/*        height: 100%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 989px) {*/
/*    #DetailZone-Time {*/
/*        border-top: solid;*/
/*        border-bottom: solid;*/
/*        padding-top: 1.5rem;*/
/*        padding-bottom: 0.5rem;*/
/*        margin-bottom: 1.5rem;*/
/*        border-width: .1em;*/
/*        border-color: black;*/
/*        font-size: 2.5em;*/
/*    }*/
/*}*/


/*
    End Mediaqueries parts
*/


.meteo-container-part {
    display: flex;
    flex-direction: column;
    color: var(--main-txt-color);
    height: 100%;
    font-size: 2.4em;
    font-weight: 400;
    width: 100%;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
    /* display: contents; */
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.meteo-container-part p {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}


.meteo-container-card {
}
