@import url(https://fonts.googleapis.com/css?family=Domine);
html,
body {
    height: 100%;
}

body {
    color: #000;
    /*background-color: #7c7c7c;*/
    height: 100%;
}

header {
    text-align: center;
}


/*
*   Set template for background changes
*/

.body-sun {
    background-image: url('../images/bg_sun.jpg');
    background-repeat: no-repeat;
}

.body-rain {
    background-image: url('../images/bg_rain.jpg');
    background-repeat: no-repeat;
}

.body-cloud {
    background-image: url('../images/bg_cloud.jpg');
    background-repeat: no-repeat;
}

.body-snow {
    background-image: url('../images/bg_snow.jpg');
    background-repeat: no-repeat;
}

.body-night {
    background-image: url('../images/bg_night.jpg');
    background-repeat: no-repeat;
}


/* End  of background part */

.main {
    height: 96%;
}

a {
    color: black;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    color: rgb(0, 0, 0);
    font-family: 'Domine', serif;
    background-color: rgba(228, 224, 224, 0.5);
}

.meteo-div {
    margin-top: 5em;
    background-color: rgba(228, 224, 224, 0.5);
    padding-top: 3em;
    min-height: 200px;
    display: none;
}

.btn {
    background-color: rgb(137, 136, 138);   
}

.DetailZone-temp {
    min-height: 100px;
}

#DetailZone-temp--temp {
    font-size: 3em;
}

.img-weather {
    display: none;
}

.weather-descp {
    font-size: 0.5em;
}

.DetailZone-Time--hour {
    font-size: 1.2em;
}

.DetailZone-Time--date {
    font-size: 0.7em;
}

#DetailZone-Wind--direction {
    background-image: url('../images/compass.png');
    background-size: 120px;
    display: inline-block;
}


/* Footer*/

footer {
    color: rgba(124, 130, 135, .5);
    background-color: rgba(0, 0, 0, .7);
}


/*
    Mediaqueries parts
*/

@media screen and (min-width: 990px) {
    #DetailZone-Time {
        border-left: solid;
        border-right: solid;
        border-width: .1em;
        border-color: black;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 989px) {
    #DetailZone-Time {
        border-top: solid;
        border-bottom: solid;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        border-width: .1em;
        border-color: black;
        font-size: 2.5em;
    }
}


/*
    End Mediaqueries parts
*/